body {
    background-color: black;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image {
    height: 100vh;
    align-self: center;
}
.inputComponent {
    position: absolute;
    align-self: center;
}